<h1><%= @contact.job_title()%></h1>
<h2>Address</h2>
<ul>
	<h3><li>
		<%@addresses.each() do |address|%>
			<%address.to_s().each_line() do |line|%>
				<%= line%>
				<br>
			<%end%>
		<%end%>
	</li></h3>
</ul>

<h2>Phone</h2>
<ul>
	<%@phone_numbers.each() do |number|%>
		<h3><li><%= number%></li></h3>
	<%end%>
</ul>
<form action='/<%= @contact.id()%>' method='post'>
	<div class='row'>
		<div class='form-group form-inline col-md-5'>
			<label for='area_code'>Phone Number</label>
			<span>(</span>
			<input type='number' name='area_code' id='area_code' class='form-control three-digits' max='999'>
			<span>)</span>
			<input type='number' name='first_three_digits' id='first_three_digits' class='form-control three-digits' max='999'>
			<span>—</span>
			<input type='number' name='last_four_digits' id='last_four_digits' class='form-control last-four' max='9999'>
		</div>
		<div class='form-group col-md-3'>
			<label class="radio-inline">
		      <input type="radio" name="phone_type" value="mobile" checked='checked'>Mobile
		    </label>
		    <label class="radio-inline">
		      <input type="radio" name="phone_type" value="work">Work
		    </label>
		    <label class="radio-inline">
		      <input type="radio" name="phone_type" value="home">Home
		    </label>
		</div>
		<div class='col-md-2'>
			<button type='submit' class='btn btn-primary'>Add Phone Number</button>
		</div>
	</div>
</form>

<h2>Email</h2>
	<%@emails.each() do |email|%>
		<h3><li><%= email%></li></h3>
	<%end%>
</h2>