<h1><%= @contact.job_title()%></h1>
<h2>Address</h2>
<ul>
	<%@addresses.each() do |address|%>
		<h3><li>
			<%address.to_s().each_line() do |line|%>
				<%= line%>
				<br>
			<%end%>
		</li></h3>
	<%end%>
</ul>
<form action='/<%= @contact.id()%>/new_address' method='post'>
	<div class='row'>
		<div class='form-group col-md-6 form-inline'>
			<label for='street_address'>Street Address</label>
			<input type='text' name='street_address' id='street_address' class='form-control street-address'>
		</div>
		<div class='form-group col-md-6 form-inline'>
			<label for='city'>City</label>
			<input type='text' name='city' id='city' class='form-control city-zip'>
			<label for='state'>State</label>
			<input type='text' name='state' id='state' class='form-control state'>
			<label for='zip_code'>Zip Code</label>
			<input type='number' name='zip_code' id='zip_code' class='form-control city-zip' max='99999'>
		</div>
	</div>
	<button type='submit' class='btn btn-primary'>Add Address</button>
</form>

<h2>Phone</h2>
<ul>
	<%@phone_numbers.each() do |number|%>
		<h3><li><%= number%></li></h3>
	<%end%>
</ul>
<form action='/<%= @contact.id()%>/new_phone' method='post'>
	<div class='row'>
		<div class='form-group form-inline col-md-5'>
			<label for='area_code'>Phone Number</label>
			<span>(</span>
			<input type='number' name='area_code' id='area_code' class='form-control three-digits' max='999'>
			<span>)</span>
			<input type='number' name='first_three_digits' id='first_three_digits' class='form-control three-digits' max='999'>
			<span>—</span>
			<input type='number' name='last_four_digits' id='last_four_digits' class='form-control last-four' max='9999'>
		</div>
		<div class='form-group col-md-3'>
			<label class="radio-inline">
		      <input type="radio" name="phone_type" value="mobile" checked='checked'>Mobile
		    </label>
		    <label class="radio-inline">
		      <input type="radio" name="phone_type" value="work">Work
		    </label>
		    <label class="radio-inline">
		      <input type="radio" name="phone_type" value="home">Home
		    </label>
		</div>
	</div>
	<button type='submit' class='btn btn-primary'>Add Phone Number</button>
</form>

<h2>Email</h2>
	<%@emails.each() do |email|%>
		<h3><li><%= email%></li></h3>
	<%end%>
</h2>